@import '../../styles/variables';

#{$app-class}-form-label {
  font-size: 1rem;
  font-weight: 700;
  white-space: nowrap;

  &--required::after {
    content: ' * ';
    color: $app-danger-color;
  }
}

#{$app-class}-form-group,
#{$app-class}-form-group-inline {
  margin-bottom: 1.5rem;
}

#{$app-class}-form-group-inline {
  display: flex;
  flex-direction: row;

  #{$app-class}-form-label {
    padding-right: 0.5rem;
    padding-top: 0.3rem;
  }
}

#{$app-class}-form-error-message {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: $app-danger-color;
}
